body {
    margin: 0;
    padding: 2rem;
    font-family: "Montserrat", sans-serif;
    background-color: rgb(226, 222, 222);
}

.container {
    background-color: white;
    box-shadow: 0 0 10rem rgba(0, 0, 0, 0.2);
    padding: 2rem;
    max-width: 50%;
    margin: 0 auto;
    border-radius: 3rem;
    margin-top: 2.5rem;
}

h1 {
    font-size: 2.5rem;
    text-align: center;
    margin-top: 0;
    margin-bottom: 2rem;
}

.form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

label {
    font-weight: bold;
    font-weight: 700;
    margin-bottom: 1rem;
}

input {
    padding: 0.5rem;
    border: 1px solid #ccc;
    border-radius: 1rem;
    width: 100%;
    max-width: 300px;
}

button {
    background-color: #007bff;
    color: white;
    border: none;
    padding: 0.5rem 0.5rem;
    border-radius: 1rem;
    margin-top: 0.3rem;
    cursor: pointer;
    transition: background-color .5s ease;
}

button:hover {
    background-color: #0062cc;
}

#result {
    margin-top: 1rem;
    font-size: 1.5rem;
    font-weight: bold;

}